<% let about = config.about || theme.about; %>
<div id="article-banner">
  <h3><%- about.title || config.author %></h3>
  <p class="post-date"><%- about.description %></p>
</div>
<main class="app-body about-app">
  <div class="author">
    <div class="head">
      <img src="<%- /@.+\./.test(about.avatar) ? gravatar(about.avatar, 200) : about.avatar %>" />
    </div>
  </div>
  <div class="share-icons">
    <%- partial('_partial/share-icon', { name: 'email',  prefix: 'mailto:', user: about.email, icon: 'envelope-o' }) %>
    <%- partial('_partial/share-icon', { name: 'github',  prefix: 'https://github.com/', user: about.github_username, icon: 'github' }) %>
    <%- partial('_partial/share-icon', { name: 'zhihu',  prefix: 'https://www.zhihu.com/people/', user: about.zhihu_username, icon: '-知' }) %>
    <%- partial('_partial/share-icon', { name: 'weibo',  prefix: 'http://weibo.com/', user: about.weibo_username, icon: 'weibo' }) %>
    <%- partial('_partial/share-icon', { name: 'twitter',  prefix: 'https://twitter.com/', user: about.twitter_username, icon: 'twitter' }) %>
    <%- partial('_partial/share-icon', { name: 'linkedin',  prefix: 'https://www.linkedin.com/in/', user: about.linkedin_username, icon: 'linkedin' }) %>
  </div>
  <section class="markdown-content"><%- page.content %></section>
</main>