<div id="article-banner">
  <% if (config.index_generator && config.index_generator.path) { %>
  <p class="post-date categories">
    <span><%- __('menu.blog') %> <small>(<%- site.posts.length %>)</small></span>
    <%- list_categories({show_count: false, orderby: 'posts.length', order: -1, depth: 1, style: 'span', separator: '' }) %>
  </p>
  <% } else { %>
  <h2><%- config.subtitle || config.title %></h2>
  <p class="post-date"><%- config.description || __('description') %></p>
  <% } %>
</div>
<main class="app-body home-page">
  <% page.posts.each(function(post) { %>
    <article class="article-card">
      <h2 class="article-head">
        <a href="<%- url_for(post.path) %>"><%- post.title %></a>
      </h2>
      <%- partial('_partial/home-date', { post: post }) %>
      <% if (post.thumbnail) { %>
      <div class="article-thumbnail">
        <img src="<%- /^(http|\/)/.test(post.thumbnail) ? post.thumbnail : url_for(post.path.replace(/index\.html$/, '') + post.thumbnail) %>">
      </div>
      <% } %>
      <div class="article-summary<%= post.thumbnail ? ' has-thumbnail' : '' %>">
        <% if (post.description) { %>
          <p><%= __('abstract') + ': ' + post.description %></p>
        <% } if (post.excerpt) { %>
          <%- post.excerpt %>
        <% } else { %>
          <% let texts = truncate(strip_html(post.content), { length: 150, omission: ' ...' }).split('\n'); %>
          <%- texts.map(t => '<p>' + t + '</p>').join('') %>
        <% } %>
      </div>
      <a class="more" href="<%- url_for(post.path) %>"><%- __('excerpt_link') %></a>
    </article>
  <% }) %>

  <% if (page.total > 1){ %>
    <%- partial('_partial/pager') %>
  <% } %>
</main>
