<div id="article-banner">
  <h2><%- page.title %></h2>
  <% if (page.show_date !== false) { %>
  <p class="post-date">
    <span><%- date(page.date, "YYYY-MM-DD") %></span>
    <%- partial('_partial/category', { categories: page.categories }) %>
  </p>
  <% } %>
</div>
<div class="app-body-wrapper">
<main class="app-body">
  <article class="post-article">
    <section class="markdown-content"><%- page.content %></section>
    <% if (page.tags && page.tags.length) { %>
      <div class="tags">
        <%- partial('_partial/tag', { tags: page.tags }) %>
      </div>
    <% } %>

    <% if (theme.reward && page.money !== false && /^zh-/.test(config.language || theme.language)) { %>
    <div class="money-like">
      <div class="reward-btn">
        赏
        <span class="money-code">
          <span class="alipay-code">
            <div class="code-image"></div>
            <b>使用支付宝打赏</b>
          </span>
          <span class="wechat-code">
            <div class="code-image"></div>
            <b>使用微信打赏</b>
          </span>
        </span>
      </div>
      <p class="notice"><span>如果本文对您有用，请随意赞赏。</span><span>您的支持将鼓励我继续创作！</span></p>
    </div>
    <% } %>

    <% if (theme.qrcode && !config.uyan && page.share !== false) { %>
    <div class="qrcode">
      <canvas id="share-qrcode"></canvas>
      <p class="notice"><%- __('share_qrcode') %></p>
    </div>
    <% } %>

    <%- partial('_partial/share') %>
    <%- partial('_partial/paginator') %>
  </article>
</main>
</div>

<script>
  (function () {
    // error image
    var mdImg = $(".markdown-content img");
    mdImg.on('error', function() {
      $(this).attr({
        src: '<%- url_for('css/images/error.png') %>',
        error: this.src
      }).css('cursor', 'help');
    });
    mdImg.css('cursor', 'zoom-in');

    // zoom image
    mdImg.on('click', function() {
      var src = $(this).attr('src');
      var imageW = $(this).width();
      var imageH = $(this).height();
      var win = $(window);
      var text = '<div class="image-view-wrap"><div class="image-view-inner"><img src="'+ src +'" /></div></div>';
      var error = $(this).attr('error');

      var zoom = (win.width() * 0.95 / imageW).toFixed(2);
      zoom = Math.max(1, Math.min(2, zoom));
      var transY = ((win.height() - imageH) / 2).toFixed(2);

      if (error) {
        text = text.replace('wrap">', 'wrap">无法访问 ' + error);
      }
      $('body').append(text);
      var wrap = $('.image-view-wrap');
      wrap.addClass('wrap-active');
      $('.image-view-wrap img').css({
        'width': `${imageW}`,
        'transform': `translate3d(0, ${transY}px, 0) scale3d(${zoom}, ${zoom}, 1)`
      });
      $('html').css('overflow', 'hidden');

      wrap.on('click', function() {
        $(this).remove();
        $('html').attr('style', '');
      });
    });

    // qrcode
    new QRious({
      element: document.getElementById('share-qrcode'),
      value: document.location.href
    });

    var md = $('.markdown-content');
    var money = $('.money-like');

    if (money[0] && md.height() < 1200) {
      money.hide();
    }

  })();
</script>