<div id="article-banner">
  <h2><%= __('tags_page') %></h2>
</div>
<div class="app-body-wrapper">
<main class="app-body">
  <%
    var counts = [], types = {};

    site.tags.forEach(tag => {
      var n = tag.posts.length;
      if (counts.indexOf(n) < 0) {
        counts.push(n);
      }
    });
    counts.sort((a, b) => a - b);
    counts.forEach((n, index) => { types[n] = Math.round(index / counts.length * 3) });
  %>
  <div id="tag-cloud">
    <% site.tags.forEach(tag => { %>
    <a class="tag<%= types[tag.posts.length] %>" href="<%= url_for('tags/' + tag.name) %>">
      <i class="fa fa-tag" aria-hidden="true"></i>
      <%= tag.name %> <small>(<%= tag.posts.length %>)</small>
    </a>
    <% }) %>
  </div>
</main>
</div>