<footer class="app-footer">
  <p class="copyright">
    <span class="author">&copy;
      <%= config.from_year ? config.from_year + '-' : '' %><%= new Date().getFullYear() %>
      <%= config.author %>
    </span>
    <% if (config.icp) { %>
    <span class="icp"><a href="http://www.miitbeian.gov.cn/" target="_blank"><%= config.icp %></a></span>
    <% } if (!(config.menu || theme.menu)['about']) { %>
    <span><a href="/about/">关于本站</a></span>
    <% } %>
    <% if (config.cnzz_id) { %>
    <script src="https://s4.cnzz.com/z_stat.php?id=<%= config.cnzz_id %>&web_id=<%= config.cnzz_id %>"></script>
    <% } %>
  </p>
  <p class="powered-by">
    <span>Powered by <a href="https://hexo.io" target="_blank">Hexo</a></span>
    <span>Theme - <a href="https://github.com/rhcad/hexo-theme-vexo" target="_blank">vexo</a></span>
  </p>
</footer>

<% let cdnroot = config.local ? '/_local' : 'http://cdn.bootcss.com'; %>
<% let min = config.local ? '.' : '.min.'; %>
<%- js('js/device') %>
<%- partial('math', {position: 'script'}) %>

<script>
  function async(src, loaded) {
    var d = document, t = 'script',
            o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
    o.src = src;
    if (loaded) {
      o.addEventListener('load', function(e) {
        loaded(null, e);
      }, false);
    }
    s.parentNode.insertBefore(o, s);
  }
  (function() {
    async('<%- cdnroot %>/fastclick/1.0.6/fastclick<%= min %>js', function() {
      FastClick.attach(document.body);
    });

    var hasLine = '<%- config.highlight["line_number"] %>';
    async('<%- cdnroot %>/highlight.js/9.12.0/highlight.min.js', function() {
      $('figure pre').each(function(i, block) {
        var figure = $(this).parents('figure');
        if (hasLine == 'false') {
          figure.find('.gutter').hide();
        }
        var lang = figure.attr('class').split(' ')[1] || '';
        var codeHtml = $(this).html();
        var codeTag = document.createElement('code');
        codeTag.className = lang;
        codeTag.innerHTML = codeHtml;
        $(this).attr('class', '').empty().html(codeTag);
        figure.attr('data-lang', lang.toUpperCase());
        hljs.highlightBlock(block);
      });
    });

    function dropdown(e) {
      var $this = $(this);
      var btn = $this; while (!btn.hasClass('dropdown')) btn = btn.parent();
      var panel = btn.find('.submenu');

      if (e.data.hide && !btn.hasClass('open') || e.data.show && btn.hasClass('open')) {
        return;
      }
      panel.slideToggle();
      btn.toggleClass('open');
    }

    function hideDropdown() {
      $('.submenu').slideUp().parent().removeClass('open');
    }

    function initDropdown(el) {
      var btn = el.find('.dropdown');
      btn.on('click', {}, dropdown);
      btn.find('a').on('mouseenter', {show: true}, dropdown);
      el.on('mouseleave', hideDropdown);
    }

    initDropdown($('.right-list'));
    document.addEventListener('scroll', hideDropdown);
  })();
</script>
<!-- Baidu Tongji -->
<% if (config.baidu_track_id) { %>
<script>
  async('//hm.baidu.com/hm.js?<%= config.baidu_track_id %>');
</script>
<% } %>
<%- js('js/script') %>