<footer class="app-footer">
  <p class="copyright">
    <span class="author">&copy;
      <%= config.from_year ? config.from_year + '-' : '' %><%= new Date().getFullYear() %>
      <%= config.author %>
    </span>
    <% if (config.icp) { %>
    <span class="icp"><a href="http://www.miitbeian.gov.cn/" target="_blank"><%= config.icp %></a></span>
    <% } if (!(config.menu || theme.menu)['about']) { %>
    <span><a href="/about/">关于本站</a></span>
    <% } %>
    <% if (config.cnzz_id && !config.local) { %>
    <script src="https://s4.cnzz.com/z_stat.php?id=<%= config.cnzz_id %>&web_id=<%= config.cnzz_id %>"></script>
    <% } %>
  </p>
  <p class="powered-by">
    <span>Powered by <a href="https://wiki.geogebra.org/en/Reference:Math_Apps_Embedding" target="_blank">GeoGebra</a></span>
    <span>Theme - <a href="https://github.com/rhcad/hexo-theme-vexo" target="_blank">vexo</a></span>
  </p>
</footer>

<% let cdnroot = config.local ? '/_local' : 'http://cdn.bootcss.com'; %>
<% let min = config.local ? '.' : '.min.'; %>

<%- partial('math', {position: 'script'}) %>

<script>
  function async(src, loaded) {
    var d = document, t = 'script',
            o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
    o.src = src;
    if (loaded) {
      o.addEventListener('load', function(e) {
        loaded(null, e);
      }, false);
    }
    s.parentNode.insertBefore(o, s);
  }
  async('<%- cdnroot %>/fastclick/1.0.6/fastclick<%= min %>js', function() {
    FastClick.attach(document.body);
  });
  <% if (/<figure/.test(page.content)) { %>
  async('<%- cdnroot %>/highlight.js/9.12.0/highlight.min.js', function() {
    $('figure pre').each(function(i, block) {
      var figure = $(this).parents('figure');
      var hasLine = '<%- config.highlight["line_number"] %>';
      if (hasLine === 'false') {
        figure.find('.gutter').hide();
      }
      var lang = figure.attr('class').split(' ')[1] || '';
      var codeHtml = $(this).html();
      var codeTag = document.createElement('code');
      codeTag.className = lang;
      codeTag.innerHTML = codeHtml;
      $(this).attr('class', '').empty().html(codeTag);
      figure.attr('data-lang', lang.toUpperCase());
      hljs.highlightBlock(block);
    });
  });
  <% } %>
  <% if (config.add_visit && /\/.+\/(index\.html)?$/.test(page.path)) { %>
  $.ajax({
    type: 'get',
    url: '<%- config.add_visit %>?url=<%- page.path.replace('/index.html', '/') %>&readonly=<%= !!config.local %>',
    success: function(data) {
      data = data && /\d+,\d+/.test(data) && data.split(',')
      if (data) {
        (document.getElementById('visit-count') || {}).innerHTML = data[0];
        (document.getElementById('file-count') || {}).innerHTML = data[1];
        $('.visit-info').show()
      }
    }
  })
  <% } %>
</script>

<!-- Baidu Tongji -->
<% if (config.baidu_id && !config.local) { %>
<script>async('https://hm.baidu.com/hm.js?<%= config.baidu_id %>')</script>
<% } %>

<% if (theme.qrcode && !config.uyan && page.share !== false && ['post', 'page'].indexOf(page.layout) >= 0) { %>
<%- js('js/qrious') %>
<script>
  new QRious({
    element: document.getElementById('share-qrcode'),
    value: document.location.href
  });
</script>
<% } %>

<% if (theme.local_search && theme.local_search.enable) { %>
  <%- js('js/localsearch.js?data=' + url_for(config.search && config.search.path || 'search.xml') +
          '|' + theme.local_search.top_n_per_article +
          '|' + theme.local_search.trigger ) %>
<% } %>

<%- js(['js/device', 'js/resize', 'js/script']) %>

<% if (page.vue) { %>
<script src="<%- cdnroot %>/vue/2.4.2/vue<%= min %>js"></script>
<% } %>

<% (page.scripts || []).forEach(src => {
  if (/\.js$/i.test(src)) { %>
<script src="<%= src %>"></script>
<% } }) %>