<header class="header">
  <div class="header-container">
    <a class="home-link" href="<%- url_for() %>">
      <div class="logo"></div>
      <span><%- config.title %></span>
    </a>
    <% let menu = config.menu || theme.menu; %>
    <ul class="right-list">
      <li class="list-item search-btn"><a class="item-link" title="<%= __("local_search") %>">
          <i class="fa fa-search"></i></a></li>
      <%- partial('_header/list-item', { menu: menu, dropdown: false }) %>
    </ul>
    <div class="menu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div class="menu-search search-btn">
      <i class="fa fa-search"></i>
    </div>
    <div class="menu-mask">
      <ul class="menu-list">
        <%- partial('_header/menu', { menu: menu, level: 0 }) %>
      </ul>
    </div>
  </div>
</header>
