<% let thumbnail = page.thumbnail && (/^(http|\/)/.test(page.thumbnail) ? page.thumbnail :
        url.replace(/index\.html$/, '') + page.thumbnail);
if (page.share !== false && config.uyan) { %>
<div class="jiathis_style" id="jia_shares">
  <span class="jiathis_txt">分享到：</span>
  <a class="jiathis_button_tools_1"></a>
  <a class="jiathis_button_tools_2"></a>
  <a class="jiathis_button_tools_3"></a>
  <a class="jiathis_button_tools_4"></a>

  <a href="http://www.jiathis.com/share?uid=<%= config.uyan %>" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
  <a class="jiathis_counter_style"></a>
</div>
<script>
  var jiathis_config={
    data_track_clickback:true,
    siteNum:8,
    sm:"weixin,cqq,qzone,tsina,tqq,email,ydnote,evernote",
    url: '<%= url.replace(/index.html$/, '') %>',
    summary: '<%= page.description || config.subtitle || config.description %>',
    title: '<%= page.title %>',
    shortUrl:true,
    <%- thumbnail ? 'pic: "' + thumbnail + '",' : '' %>
    hideMore:false
  }
</script>
<% if (!config.local) { %>
<script async defer src="http://v3.jiathis.com/code_mini/jia.js?uid=<%= config.uyan %>" charset="utf-8" onload="showBlock('jia_shares')"></script>
<% }} if (page.comments !== false && config.uyan) { %>

<div id="uyan_frame"></div>
<script>
  var uyan_config = {
    title: '<%= page.title %>',
    summary: '<%= page.description || config.subtitle || config.description %>',
    url: '<%= url.replace(/index.html$/, '') %>',
    du: '<%= config.url.replace('http://', '') %>'
  };
  function uyanLoaded() {
    $('.app-body').addClass('clip-height');
  }
</script>
<% if (!config.local) { %>
<script async defer src="http://v2.uyan.cc/code/uyan.js?uid=<%= config.uyan %>" onload="uyanLoaded()"></script>
<% }} else if (page.comments !== false && config.changyan && config.changyan.appid) { %>
<div id="SOHUCS" sid="<%= page.path.replace(/index.html$/, '') %>" ></div>
<script>
  (function(){
    var appid = '<%= config.changyan.appid %>';
    var conf = '<%= config.changyan.conf %>';
    var width = window.innerWidth || document.documentElement.clientWidth;
    if (width < 960) {
      window.document.write('<script id="changyan_mobile_js" charset="utf-8" async defer ' +
              'src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
    } else {
      var loadJs = function(d, a) {
        var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
        var b = document.createElement("script");
        b.setAttribute("type", "text/javascript");
        b.setAttribute("charset", "UTF-8");
        b.setAttribute("src", d);
        if (typeof a === "function") {
          if (window.attachEvent) {
            b.onreadystatechange = function() {
              var e = b.readyState;
              if (e === "loaded" || e === "complete") {
                b.onreadystatechange = null;
                a()
              }
            }
          } else {
            b.onload = a
          }
        }
        c.appendChild(b)
      };
      loadJs("http://changyan.sohu.com/upload/changyan.js", function() {
        window.changyan.api.config({appid: appid, conf: conf})
      });
    }
  })(); </script>
<% } %>